:root{
  --color-1: #f1f5f9;
  --color-2: #0e0c3c;
  --color-3: #5a7f5a;
  --color-4: #003f5c;
  --color-5: #fff;


}

html {
    background-color: var(--color-1);
    font-family: sans-serif;
    color: var(--color-4);
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 2rem;
    line-height: 1.2;
    background: linear-gradient(45deg, rgba(241, 245, 249, 0.5), rgba(14, 12, 60, 0.5), rgba(90, 127, 90, 0.5), rgba(0, 63, 92, 0.5));
      background-size: 200% 200%;
      animation: gradientAnimation 15s ease infinite;
    }

    @keyframes gradientAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  
  
  * {
    box-sizing: border-box;
  }

  html.dark {
    background-color: var(--color-2);
    color: var(--color-5);
  }
  
  .dark .nav-links a {
    color: var(--color-5);
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  /* nav styles */

.nav-links {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
  }
  
  .nav-links a {
    border: 4px solid var(--color-4);
    display: block;
    text-align: center;
    background-color: var(--color-3);
    padding: 1em 1.5em;
    text-decoration: none;
    font-size: 1rem;
    /* font-weight: bold; */
    text-transform: capitalize;
    margin: 1em;
    border-radius: 5em;
    color: var(--color-5);

  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    background-color: var(--color-4);
  }
  


  
  
  @media screen and (min-width: 636px) {
    .nav-links {

      width: 300px;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }


}  

