---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "my projects";
---
<BaseLayout pageTitle={pageTitle}> 
<h3>Hello! please check out my projects.</h3>
<p><em>Update regularly</em></p>
</BaseLayout>