---
import Navigation from '../components/Navigation.astro';
import Menu from '../components/Menu.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
    <nav>
        <Menu />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>