---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.7rem 1.2rem;
    color: white;
    background-color: #003f5c;
    text-decoration: none;
    border-radius: 7em;
    margin-inline: auto;
  }
</style>