---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import "../styles/global.css";

const {pageTitle} = Astro.props;
const Title = pageTitle;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1>{pageTitle}</h1>
		<slot/>
		<div class="nav-links">
			<a href="https://sinohomedeco.com/">one-page website</a>
			<a href="https://syntaxmonkey2px.github.io/email-templates-v2/">email templates 2</a>
			<a href="https://syntaxmonkey2px.github.io/email-template-v3/">email templates 1</a>
		</div>
		<Footer />
		  <script>
    		import "../scripts/menu.js";
  		</script>
	</body>
</html>
